body {
  max-width: 50em;
  color: black;
  text-align: center;
  padding: 16px;
  margin: auto;
  border: 2px solid;
}
img {
  height: 150px;
  border-radius: 30%;
}
html {
  margin: 16px;
}
.social a {
  text-decoration: none;
  color: black;
  margin: 8px;
}